# Copy this file to .env and update with your production database values.
PORT=3000
MONGO_URI=mongodb+srv://username:password@cluster0.example.mongodb.net/inventory?retryWrites=true&w=majority
NODE_ENV=production
